@model SCsms.Models.Results

@{
    ViewBag.Title = "运动员成绩添加";
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
}

<div style="margin-top: 50px; text-align: center;">
    <form action="/Admin/ResultsAdd" method="post" onsubmit="return checkForm()">
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th style="border: 1px solid #dee2e6; padding: 10px;">成绩编号</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;">项目编号</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;">运动员编号</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;">初赛成绩</th>
                    <th style="border: 1px solid #dee2e6; padding: 10px;">决赛成绩</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="text" name="ResultID" value="" class="form-control" /></td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="text" name="EventID" value="" class="form-control" /></td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="text" name="AthleteID" value="" class="form-control" /></td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="text" name="Pre_Time" value="" pattern="\d{2}:\d{2}:\d{2}(\.\d{1,3})?" class="form-control" placeholder="请输入格式为(hh:mm:ss.s)"/></td>
                    <td style="border: 1px solid #dee2e6; padding: 10px;"><input type="text" name="Fin_Time" value="" pattern="\d{2}:\d{2}:\d{2}(\.\d{1,3})?" class="form-control" placeholder="请输入格式为(hh:mm:ss.s)"/></td>
                </tr>
            </tbody>

            <tr>
                <th style="text-align:center;">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="添加" />
                    </div>
                    <h3 style="color:red;">@ViewBag.notice</h3>
                </th>
            </tr>
        </table>
    </form>


</div>
<script>


</script>
